#contato {
    
   
  
   
}

#contato h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #062e38;
     font-size: 4rem;
     font-style: italic;
    text-align: center;
     padding: 30px;
     
    

}

#campos{
    
    width:200px;
   
    padding:10px;
    color: #0db2db;
    text-align: center;
    position: relative;
    left: 660px;
    
    
    
}

.msg{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    position: relative;
    right: 50px;
   
  
    
}

.nome{
    border-radius: 15px;

}

.ass{
    border-radius: 15px;
    border-radius: 15px;
    width: 190px;
    height: 100px;
   

}

.em{
    border-radius: 15px;

}
