#secao{

    width: 100%;
  max-width: 1350px;
    margin: 0 auto;
    
   
   


}




.secao_lado_direito h1{
    color: #062e38;
font-size: 80px;
text-align: center;
padding: 30px;

}


#secao_lado_esquerdo h3{
   
    padding: 75px;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 32px;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #e0e0e0;
    position: relative;
    left: 270px;
    top: 100px;

}

#experiencia_paragrafo{
   
    font-size: 1.4rem;
    line-height: 20px;
    width: 525px;
    position: relative;
    left: 700px;
    top: -140px;
    color: #22D4FD;
    



}

.img_1{
    width: 50%;
    height: auto;
    position: relative;
    right:180px;
    top: -550px;

}


.img_2{
    position: relative;
    right: 150%;
    top: -350px;

}

