.experiencia{
    
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 40px 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
 

}

.experiencia h1{
  
    font-size: 9rem;
    text-transform: uppercase;
    word-break: break-all; /* propiedade que permite quebrar a linha*/
    line-height: 1; /* manipula o espaçamento entre linha*/
    max-width: 4ch;
    color: #e0e0e0;


}

.experiencia p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    max-width: 50ch;
    margin-bottom: 60px;

}

.experiencia strong{
    color: #141414;

}
.experiencia_profissional{
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    background-color: #80808049;

}
.experiencia_ano{
    position: absolute;
    top: 22px;
    left: -100px;
    font-size: 0.87rem;
    font-weight: 400;

    

}
.experiencia_titulo{
   
    font-size: 1.12rem;
    font-weight: bold;
    line-height: 20px;

}

#experiencia_paragrafo{

  
    font-size: 0.87rem;
    line-height: 20px;
    width: 525px;
    
   

}

.experiencia_habilidade{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.experiencia_habilidade li {
    background-color: #ffff;
    padding: 5px 10px;
    height: 40px;
    line-height: 10px;
    font-size: 0.87rem;
    display: flex;
    
    border-radius: 5px;
   

}

/* responsividade*/

@media(max-width: 900px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 40px;
        
    }

    .experiencia h1{
        margin: 0 auto;

    }

    .experiencia p{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #experiencia_paragrafo{
      text-align: center;
      margin: initial;
    }
    
    
    
    
    .experiencia_ano{
        position: initial;
        width: initial;
        order: 1;
    }

}





@media(max-width:600px){
    .experiencia_profissional{
       
        grid-template-columns: 1fr;
    }
    .experiencia h1{
        font-size: 7rem;

    }

    .experiencia p{
        font-size: 1.2rem;
    }

}



