#inicio{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
    padding: 40px 15px;

}

#inicio img{
max-width: 300px;
}

#inicio_lado_direito {
    border: 7px solid red;

}


.inicio_lado_direito span{
    font-size: 1.5rem;
    font-size: #525252;

}

.inicio_lado_direito h1{
    font-size: 4.5rem;
    margin-bottom: 30px;


}

/*responsividade*/
@media(max-width:900px){
    .inicio_lado_direito h1{
        font-size: 3rem;
      
    }

#inicio{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

        
    

}

@media(max-width:600px){

    #inicio_lado_direito h1{
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .inicio_lado_direito span{
        font-size: 1rem;
    }
}

@media(max-width:450px){
    #inicio{
        display: flex;
        flex-direction: column;

    }

    #inicio img {
        width: 50%;
    }


    
    
}
